<div class="container-fluid cutomer" style="margin: 0px" id="contact-us">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0 rounded-3 shadow-lg overflow-hidden bg-">
        <div class="card-body p-0">
          <div class="row g-0">
            <div class="col-sm-6 d-none d-sm-block bg-image"></div>
            <div class="col-sm-6 p-4">
              <div class="text-center">
                <div class="h3 fw-light">Contact Form</div>
                <p class="mb-4 text-muted">Split layout contact form</p>
              </div>
              <div
                class="alert alert-success"
                *ngIf="successMessage != null"
                role="alert"
              >
                Message sent successfully!
              </div>
              <form
                id="contactForm"
                [formGroup]="contactForm"
                data-sb-form-api-token="API_TOKEN"
                class="form-signin"
                (submit)="sendEmail($event)"
              >
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="name"
                    type="text"
                    formControlName="from_name"
                    placeholder="Name"
                    name="from_name"
                  />
                  <label for="name">Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="subject"
                    type="text"
                    formControlName="subject"
                    placeholder="subject"
                    name="subject"
                  />
                  <label for="name">Subject</label>
                </div>

                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="emailAddress"
                    type="email"
                    formControlName="from_email"
                    placeholder="Email Address"
                    name="email"
                  />
                  <label for="emailAddress">Email Address</label>
                </div>

                <div class="form-floating mb-3">
                  <textarea
                    class="form-control"
                    id="message"
                    type="text"
                    placeholder="Message"
                    style="height: 10rem"
                    formControlName="message"
                    name="message"
                  ></textarea>
                  <label for="message">Message</label>
                </div>

                <div class="d-grid">
                  <button
                    class="btn btn-outline-success btn-lg"
                    id="submitButton"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
