<footer class="mt-1">
  <div class="footer mb-5 p-2">
    <div class="bg-dark text-secondary px-4 py-2 text-center">
      <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Car Info</h1>
        <div class="col-lg-6 mx-auto">
          <p class="fs-5 mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
            corporis doloremque ullam quaerat nisi omnis explicabo similique
            nobis perspiciatis quia, sapiente dolorem vel incidunt voluptate
            doloribus iure magnam ducimus alias!
          </p>
          <div class="w-100 text-center">
            <img
              src="../../assets/images/car_logo.png"
              class="bd-placeholder-img card-img-top text-center"
              alt="..."
              style="width: 20rem"
              height="225"
            />
          </div>
          <div><strong>Make</strong> : {{ car.make }}</div>
          <div><strong>Model</strong> : {{ car.model }}</div>
          <div><strong>Year</strong> : {{ car.year }}</div>
        </div>
      </div>
    </div>
  </div>
</footer>
