<div class="container my-5">
  <div class="col-lg-12">
    <form
      class="form-signin"
      [formGroup]="loginForm"
      (ngSubmit)="handleLogin()"
    >
      <img
        class="mb-4"
        src="assets/images/auth.png"
        alt=""
        width="72"
        height="72"
      />
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <label for="inputEmail" class="sr-only">Username</label>
      <input
        type="text"
        id="inputEmail"
        class="form-control"
        placeholder="Username"
        required
        autofocus
        formControlName="username"
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        formControlName="password"
        required
      />

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
  </div>
</div>
