<footer class="mt-5">
  <div class="footer mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="cont_call">
            <h3>
              <strong class="multi color_chang"> Visit us</strong><br />
              Morocco, Street 16th Ali Bababa.
            </h3>
          </div>
          <div class="cont">
            <h3>
              <strong class="multi"
                >Remember the unparalleled luxury of your journey with Car
                Luxury Agency, where every ride leaves an indelible mark of
                sophistication and refinement.
              </strong>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
