<div class="cutomer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>What is says our cutomer</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div
          id="myCarousel"
          class="carousel slide cutomer_Carousel"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="carousel-caption">
                  <div class="cross_img">
                    <figure>
                      <img src="assets/images/user2.png" alt="#" />
                    </figure>
                  </div>
                  <div class="our cross_layout">
                    <div class="test_box">
                      <h4>Fatin</h4>
                      <span>Rental</span>
                      <p>
                        The moment I stepped into my mercedes, I knew I was in
                        for a remarkable ride. The sleek design, cutting-edge
                        technology, and powerful performance exceeded my
                        expectations. Car luxary angency has truly redefined the
                        way I experience driving.
                      </p>
                      <i><img src="assets/images/te1.png" alt="#" /></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="carousel-caption">
                  <div class="cross_img">
                    <figure>
                      <img src="assets/images/cross_img.png" alt="#" />
                    </figure>
                  </div>
                  <div class="our cross_layout">
                    <div class="test_box">
                      <h4>Due markes</h4>
                      <span>Rental</span>
                      <p>
                        From the smooth leather interiors to the precision
                        engineering, my [Car Model] from [Your Company Name] has
                        become my sanctuary on the road. It's not just a car;
                        it's a symbol of luxury that enhances every mile I
                        travel.
                      </p>
                      <i><img src="assets/images/te1.png" alt="#" /></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="carousel-caption">
                  <div class="cross_img">
                    <figure>
                      <img src="assets/images/user1.png" alt="#" />
                    </figure>
                  </div>
                  <div class="our cross_layout">
                    <div class="test_box">
                      <h4>Due markes</h4>
                      <span>Rental</span>
                      <p>
                        I'm proud to drive a car from [Your Company Name] that
                        not only impresses with its eco-friendly features but
                        also delivers on performance. Going green has never felt
                        this exhilarating!
                      </p>
                      <i><img src="assets/images/te1.png" alt="#" /></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#myCarousel"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#myCarousel"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
